<!DOCTYPE html>
<html lang="en">
  <title> Birthday Wisher App</title>
  <head>
    <link href="../static/css/main.css" rel="stylesheet">
  </head>
    <body>
      <div class="container">
        <p class="success-message"> Thank you for your submission! <br>
           Your friend will receive an email with the wishes.
        </p>
        <img src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjbi9rOopLhAhUTEnIKHRzTBhkQjRx6BAgBEAU&url=https%3A%2F%2Fwww.zazzle.com%2Fthanks%2Ba%2Blot%2Bstickers&psig=AOvVaw23VqfjjtJbkJYOHG6VHh09&ust=1553224574412265" width="250" height="200">
      </div>
    </body>
</html>
